@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
.home {
  display: flex;
}
.home .homeContainer {
  flex: 6;
}
.home .homeContainer .widgets,
.home .homeContainer .charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}
.home .homeContainer .charts {
  padding: 5px 20px;
}
.home .homeContainer .listContainer {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}
.home .homeContainer .listContainer .listTitle {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}
.home .homeContent {
  height: 100vh;
}
.home .images {
  background-image: url("https://images.pexels.com/photos/3338019/pexels-photo-3338019.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 50vh;
}
.home .homeText {
  text-align: center;
  color: aliceblue;
  padding-top: 6%;
}
.home h1 {
  font-size: 50px;
  padding-bottom: 10px;
  font-family: "sans-serif";
}
.home p {
  font-size: 30px;
  color: aliceblue;
}
.home .homeSearch {
  text-align: center;
  padding-top: 3%;
}
.home input[type=text] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  outline: none;
}
.home input[type=placeholder] {
  text-align: center;
}
.home ::-moz-placeholder {
  color: red;
  font-size: 15px;
  text-align: center;
}
.home :-ms-input-placeholder {
  color: red;
  font-size: 15px;
  text-align: center;
}
.home ::placeholder {
  color: red;
  font-size: 15px;
  text-align: center;
}
.home button {
  width: 10%;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #6439ff;
  color: white;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}
.home button:hover {
  background-color: #333;
  color: white;
  outline: none;
}
.home .page-below {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}
.home .page-below-image {
  background-image: url("https://images.pexels.com/photos/7903016/pexels-photo-7903016.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  height: 20vh;
  width: 70%;
  padding: -20px;
  border: 0.5px solid rgb(230, 227, 227);
}
.home h2 {
  text-align: center;
  font-size: 30px;
  color: #000;
  padding: 15px;
  font-family: "Oswald", sans-serif;
}
.home .page-below-section-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home h3 {
  text-align: center;
}
.home .one, .home .two, .home .three, .home .four {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgba(39, 9, 9, 0.47);
  cursor: pointer;
}
.home .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 220, 220, 0.47);
  height: 10vh;
}/*# sourceMappingURL=home.css.map */