node_modules
dist
__tests__
.git
.gitignore
.github
.env
.db.env
.vscode
database.sqlite
todo
README.md
jest.config.js
.DS_Store
Dockerfile
docker-compose.yml
yarn.lock
package-lock.json
.prettierrc
.eslintrc.json
.eslintignore