node_modules
src
__tests__
.git
.gitignore
.env
.db.env
.vscode
database.sqlite
todo
tsconfig.json
README.md
jest.config.js
.DS_Store
Dockerfile
docker-compose.yml
yarn.lock
.prettierrc
.eslintrc.json
.eslintignore