.sidebar {
  background-color: #000018;
  flex: 1;
  border-right: 1px solid #ccc;
  min-height: 100vh;
}
.sidebar .top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .top .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}
.sidebar hr {
  height: 0;
  border: 1px solid #ccc;
}
.sidebar .center {
  padding-left: 10%;
}
.sidebar .center ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .title {
  font-size: 1rem;
  margin-top: 25px;
  margin-bottom: 10px;
  color: rgb(169, 158, 158);
}
.sidebar li {
  display: flex;
  align-items: center;
  margin: 15px 0;
  padding: 5px;
  cursor: pointer;
}
.sidebar li:hover {
  color: #000;
  background-color: #000;
}
.sidebar .icon {
  margin-right: 10px;
  color: whitesmoke;
}
.sidebar span {
  font-size: 15px;
  font-weight: 400;
  color: white;
}
.sidebar .bottom {
  display: flex;
  align-items: center;
  margin: 10px;
}
.sidebar .bottom .ColorOption {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 5px;
}
.sidebar .bottom .ColorOption:nth-child(1) {
  background-color: rgba(255, 51, 51, 0.2);
}
.sidebar .bottom .ColorOption:nth-child(2) {
  background-color: whitesmoke;
}
.sidebar .bottom .ColorOption:nth-child(3) {
  background-color: darkorchid;
}

@media only screen and (max-width: 580px) {
  .sidebar {
    flex: 2;
    border-right: 1px solid #ccc;
    min-height: 50vh;
  }
  .sidebar .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar .top .logo {
    font-size: 1rem;
    font-weight: bold;
    color: blueviolet;
  }
  .sidebar hr {
    height: 0;
    border: 1px solid #ccc;
  }
  .sidebar .center {
    padding-left: 10%;
  }
  .sidebar .center ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sidebar .title {
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 10px;
    color: gray;
  }
  .sidebar li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 5px;
    cursor: pointer;
  }
  .sidebar li:hover {
    background-color: green;
  }
  .sidebar .icon {
    margin-right: 10px;
    color: black;
  }
  .sidebar span {
    font-size: 10px;
    font-weight: 300;
    color: #333;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    flex: 2;
    border-right: 1px solid #ccc;
    min-height: 50vh;
  }
  .sidebar .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar .top .logo {
    font-size: 1rem;
    font-weight: bold;
    color: blueviolet;
  }
  .sidebar hr {
    height: 0;
    border: 1px solid #ccc;
  }
  .sidebar .center {
    padding-left: 10%;
  }
  .sidebar .center ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sidebar .title {
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 10px;
    color: gray;
  }
  .sidebar li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 5px;
    cursor: pointer;
  }
  .sidebar li:hover {
    background-color: green;
  }
  .sidebar .icon {
    margin-right: 10px;
    color: black;
  }
  .sidebar span {
    font-size: 10px;
    font-weight: 300;
    color: #333;
  }
}/*# sourceMappingURL=sidebar.css.map */